<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>反弹的火球.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16EDEEAD1DF30C08001CA78F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16EDEEC61DF30C08001CA78F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16EDEED11DF30C08001CA78F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
